/* FAQSection.module.css */

.faqSection {
    padding: 50px 20px;
    text-align: center;
    color: var(--text-solid-color);
  }
  
  .mainTitle {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .faqItem {
    background-color: var(--ifm-background-primary);
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .faqItem:hover {
    background-color: var(--hover-background-secondary);
  }
  
  .faqQuestion {
    font-family: 'Heebo', sans-serif;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .faqAnswer {
    margin-top: 15px;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  .icon {
    font-size: 1.5rem;
    font-weight: bold;
  }
  